html, body{
    height:100%;
    width: 100%;
    font-family: 'poppins';
    color: #222;

}
.navbar{
    padding: .8rem;
}
.navbar-nav li{
    padding-right: 20px;
}


nav{
    background-color:burlywood;
}

.display-2{
    color: burlywood;
    background-color: rgba(44, 37, 19, 0.63);
}

.carousel-inner img{
    width: 100%;
    height: 100%;
}
.carousel-caption{
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}
.carousel-caption h1{
    font-size: 500%;
    text-shadow: 1px 1px 10px black;
}
.card{
    width: 100%;
    height: 50%;
}

footer{
    background-color: #3f3f3f;
    color: #d5d5d5;
}
